#websiteName {
  font-size: 25px;
  background: transparent;
}

#navBarMainRowLandScapeOutter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navBarMainRowLandScape {
  width: 91%;
  /* margin-right: 1%; */
}

#navbar {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 7vh;
}

#menuItemsRowInsideColLandScape {
  width: 100%;
}

.landScapeTapMenuItem {
  height: 100%;
  padding-top: 1.4%;
}
.landScapeTapMenuItem:hover {
  height: 100%;
  padding-top: 1.4%;
  color: #ffffff !important;
}

#navbarMobile {
  font-weight: bold;
  display: flex;
  justify-content: left;
  align-items: flex-end;
  width: 100%;
}

#mobileSubMenu {
  text-align: left;
  width: 100%;
}

#mobileTitleRow {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#navBarDiv {
  width: 100%;
}

.web-nav {
  font-size: 20px;
  background: transparent;
}

.mobile-nav {
  font-size: 15px;
  background: transparent;
  padding-left: 6% !important;
  height: 28px;
}

@media screen and (max-width: 1090px) {
  #websiteNameMobile,
  .web-nav {
    font-size: 18px;
  }
}

@media screen and (max-width: 820px) {
  #websiteName {
    font-size: 22px;
    background: transparent;
  }
}

@media screen and (max-width: 780px) {
  #websiteName {
    font-size: 20px;
    background: transparent;
  }
 .web-nav {
    font-size: 15px;
    background: transparent;
  }
}

@media screen and (max-width: 768px) {
  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  #websiteNameMobile,
  .web-nav {
    font-size: 15px;
  }
}
